
@{
    ViewData["Title"] = "404 Not Found";
    //var msg = TempData["message"];
    //TempData.Keep("message");
}


@section bredCrum{
     <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">404 Error Page</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="">Error</a></li>
              <li class="breadcrumb-item active">404 NotFound</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
}

<!-- Content Wrapper. Contains page content -->
  @*<div class="content-wrapper">*@
    <!-- Content Header (Page header) -->
@*    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>404 Error Page</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">404 Error Page</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>*@

    <!-- Main content -->
    <section class="content">
      <div class="error-page">
        <h2 class="headline text-warning"> 404</h2>

        <div class="error-content">
          <h3><i class="fas fa-exclamation-triangle text-warning"></i> Oops! @ViewBag.msg Page not found.</h3>

          <p>
            We could not find the page you were looking for.
            Meanwhile, you may <a href="@Url.Action("Index","Administration")" class="btn btn-outline-warning">return to Home</a>
          </p>

         
        </div>
        <!-- /.error-content -->
      </div>
      <!-- /.error-page -->
    </section>
    <!-- /.content -->
  @*</div>*@
  <!-- /.content-wrapper -->