@model UI.ViewModel.ListItemCategoryViewModel
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

 <div class="row  justify-content-center">
     <div class="col-md-6">
              <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Edit ListItem Category Form</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form asp-action="Edit" asp-controller="ListItemCategory">
                <div class="card-body">
                    <input type="hidden" asp-for="ListItemCategoryId" />
                  <div class="form-group">
                    <label for="exampleInputEmail1">Category Name</label>
                    <input asp-for="ListItemCategoryName" type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter Category Name">
                    <span asp-validation-for="ListItemCategoryName" class="text-danger"></span>
                  </div>              
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </form>
            </div>
            <!-- /.card -->
    </div>

</div>

