@model IEnumerable<UI.ViewModel.ListItemCategoryViewModel>
@{
    ViewData["Title"] = "Index";
}

@section bredCrum{
     <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Category List</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="">Category</a></li>
              <li class="breadcrumb-item active">List</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
}



   @if (TempData["message"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <p>@TempData["message"]</p>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>    
}
    
<a asp-action="AddCategory" asp-controller="ListItemCategory" class="btn btn-primary" style="margin-bottom:10px;"><i class="fas fa-plus"></i> Add New Category</a>

   <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
           
            <div class="card card-secondary">
              <div class="card-header">
                <h3 class="card-title">Category List</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="categoryDataTable" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th>Encrypted Id</th>
                    <th>Category Name</th>
                    <th>Action</th>
                  </tr>
                  </thead>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->


