@model IEnumerable<UI.ViewModel.ListItemCategoryViewModel>
@{
    ViewData["Title"] = "Index";
}

       <a asp-action="AddCategory" asp-controller="ListItemCategory" class="btn btn-primary" style="margin-bottom:10px;"><i class="fas fa-plus"></i> Add New Category</a>

   <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
           
            <div class="card card-secondary">
              <div class="card-header">
                <h3 class="card-title">Category List</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="categoryDataTable" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th>ListItemCategoryId</th>
                    <th>Category Name</th>
                    <th>Action</th>
                  </tr>
                  </thead>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->


