@model UI.ViewModel.RoleViewModel;

@{
    ViewBag.Title = "Create Role";
}

@section bredCrum{
     <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Add Role</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="">Role</a></li>
              <li class="breadcrumb-item active">Add</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
}
    
 <div class="row  justify-content-center">
     <div class="col-md-6">
              <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Add Role Form</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form asp-action="CreateRole" asp-controller="Administration">
                <div class="card-body">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Role Name</label>
                    <input asp-for="RoleName" type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter Role Name">
                    <span asp-validation-for="RoleName" class="text-danger"></span>
                  </div>              
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </form>
            </div>
            <!-- /.card -->
    </div>

</div>
          