@model UI.ViewModel.ResetPasswordConfirmEmailViewModel

@{
       ViewData["Title"] = "Confirm Email";
        Layout = "~/Views/Shared/_PageLayout.cshtml";
}
   <div class="card-body">
      <p class="login-box-msg">You forgot your password? Here you can easily Reset Your password.</p>
      <form  asp-action="ConfirmEmail" asp-controller="Account" method="post">
        <div class="input-group">
          <input asp-for="Email"  type="email" class="form-control" placeholder="Email">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
          
        </div>
         <span asp-validation-for="Email" class="text-danger">@ViewBag.Error</span>
        <div class="row">
          <div class="col-12">
            <button type="submit" style="margin-top:20px;" class="btn btn-primary btn-block">Reset password</button>
          </div>
          <!-- /.col -->
        </div>
      </form>
      <p class="mt-3 mb-1">
        <a href="@Url.Action("Login","Account")">Login</a>
      </p>
    </div>
